<?php
/**
 * This file is copied to config.php by kick
 *
 * Placeholders (\%CONF_ENVNAME\%) are replaced by the values found in environment
 */

define ("DEV_MODE", false);
// define ("DEV_MODE", (bool)"%DEV_MODE%");


if (DEV_MODE === true) {
    define ("CONF_CLUSTER_NAME", "rudl1.infracamp.org");
    define ("CONF_REPO_URL", "mock@/opt/config_preset");
} else {
    define ("CONF_CLUSTER_NAME", "%CONF_CLUSTER_NAME%");
    define ("CONF_REPO_URL", "%CONF_REPO_URL%");
}




define("CONF_CLUSTER_DOMAIN", CONF_CLUSTER_NAME);

define("CONF_CF_SECRET", "/run/secrets/rudl_cf_secret");
define("CONF_PRINCIPAL_SECRET", "/run/secrets/rudl_principal_secret");